/* CSS BY Ofelia Ferman */
/* IMPORTED FONTS */
/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnohkk72xU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojUk72xU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojEk72xU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgFE_.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTPYgFE_.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root{
    --Midnight-blue: #1F2A44;
    --Olive-green: #76885B;
    --Champagne-gold: #E5C185;
    --Linen:  #F8F4EC;
    --Dark-charcoal: #2B2B2B;
    --Soft-white: #FAF9F6;
    --Font: 'Playfair Display', Times, serif;
}
/* GLOBAL STYLES (mobile first/small) */

header, body, footer{
  max-width:400px;
}
header{
  background-color:var(--Midnight-blue);
  justify-content:center;
  text-align:center;
}
/*header > img{
  margin:20px;
}*/
header > img{
  max-height: 200px;
}

header > h1{
  color:var(--Soft-white);
  font-family:var(--Font);
  font-size:3em;
  font-weight:bold;
  margin:10px;
}

header > h2{
  color:var(--Soft-white);
  font-family:var(--Font);
  font-style:italic;
  margin:10px;
}
header > nav{
  background-color:var(--Champagne-gold);
}
header > nav > ul{
  display:flex;
  padding:10px;
  justify-content:space-around;
}
header > nav > ul > li > a{
  color:var(--Midnight-blue);
  text-decoration:none;
  font-family:var(--Font);
   font-weight:bold;
}

#welcome{
  padding-top:50px;
  padding-bottom:20px;
  padding-left:20px;
  
}
#welcome > h2{
  color:var(--Midnight-blue);
  font-family:var(--Font);
  text-align:left;
  font-size:1.7em;
  max-width:600px;
  padding-bottom:10px;
}

#welcome > p{
  padding-bottom:20px;
  font-family:var(--Font);
  word-spacing:3px;
  font-size:.8em;
  line-height:1.4em;
  border-bottom: 3px solid var(--Champagne-gold);
  
}

#offerings{
  padding-top:20px;
  padding-left:20px;
  padding-bottom:20px;
  padding-right:20px;
}
#offerings > h2{
   color:var(--Midnight-blue);
  font-family:var(--Font);
  justify-self:left;
  font-size:1.7em;
}
#offerings > div{
  background-color:var(--Olive-green);
  margin:10px;
  border-radius:10px;
  padding:20px;
  box-shadow:3px 5px 10px 0px grey;
}
#offerings > div > h3{
  color:var(--Linen);
  font-family:var(--Font);
  font-size:1.3em;
  font-weight:bold;
}
#offerings > div > p{
  color:var(--Linen);
  padding-top:3px;
  font-family:var(--Font);
  font-size:.8em;
  word-spacing:2px;
  line-height:1.4em;
}

#offerings > div > ul > li{
   color:var(--Linen);
  padding-top:8px;
  font-family:var(--Font);
  font-size:.8em;
  line-height:1.2em;
  word-spacing:2px;
}

#offerings > div > ul{
list-style-type:disc;
  padding-left:20px;
}

#gallery{
  padding-left:20px;
  padding-right:20px;
  border-top: 3px solid var(--Champagne-gold);
}
#gallery > h2{
  padding-top:20px;
  color:var(--Midnight-blue);
  font-family:var(--Font);
  justify-self:left;
  font-size:1.7em;
  padding-bottom:10px;
}

#gallery > p{
  padding-bottom:20px;
  font-family:var(--Font);
  word-spacing:2px;
  font-size:.8em;
  line-height:1.2em;
}
#gallery > div > div{
  background-color:var(--Linen);
  margin:10px;
  border-radius:10px;
  box-shadow:3px 5px 10px 0px grey;
  max-width:200px;
  justify-self:center;
}

#gallery > div > div > p{
  justify-self:center;
  padding:10px;
  font-size:.7em;
  font-style:italic;
}
#gallery > div > div > img{
  width:100%;
  height:auto;
  display:block;
  justify-self:center;
  width:100%;
}
#gallery > div > p{
  background-color:var(--Olive-green);
  color:var(--Linen);
  padding:10px;
  text-align:center;
  font:var(--Font);
  font-weight:bold;
  border-radius:5px;
  font-size:1em;
  margin-bottom:20px;
}

#gallery > div:nth-of-type(2){
  border-bottom: 3px solid var(--Champagne-gold);
  margin-bottom: 20px;
}

footer{
  background-color:var(--Midnight-blue);
  padding-top:50px;
  padding-bottom:50px;
}

footer > div{
  padding-top:30px;
  justify-self:center;
}



footer > div:nth-of-type(1){
  font-family:var(--Font);
  font-size:1em;
  text-align:center;
  color:var(--Linen);
}

footer > div:nth-of-type(1) > p{
  padding:5px;
}

footer > div > p:nth-child(2) > a{
  color:var(--Linen);
  text-decoration:none;
}

footer > div > p:nth-child(3) > a{
  color:var(--Champagne-gold);
  font-weight:bold;
}

footer > div:nth-of-type(2) > p{
  font-family:var(--Font);
  font-size:1em;
  text-align:center;
  color:var(--Champagne-gold);
  padding-top:10px;
  font-weight:bold;
  display:inline-grid;
}
@media all and (min-width:1px){
    #offerings > div:nth-of-type(1){
    display:inline-grid;
    grid-template-columns:auto;
  }
}
/* MEDIA QUERY (medium) */

@media all and (min-width: 600px) {
  header, body, footer{
    max-width:600px;
  }
  #offerings {
    display:inline-grid;
    grid-template-columns:auto auto;
  }
  #offerings > h2{
    grid-column:span 2;
  }
  #offerings > div:nth-child(4){
    grid-column:span 2;
  }
}

#gallery > div:nth-of-type(1) {
  display:inline-grid;
  grid-template-columns:auto auto;
}

/* MEDIA QUERY (large) */
@media all and (min-width:900px){
   header, body, footer{
    max-width:900px;
  }
  #gallery > div:nth-of-type(1) {
  display:inline-grid;
  grid-template-columns:auto auto auto;
}
  #welcome, #offerings, #gallery{
    margin-left:100px;
    margin-right:100px;
  }
}


/* MEDIA QUERY (xl) */
@media all and (min-width:1200px){
   header, body, footer{
    max-width:1200px;
  }
   #gallery > div:nth-of-type(1) {
  display:inline-grid;
  grid-template-columns:auto auto auto auto auto;
}
  #welcome, #offerings, #gallery{
    margin-left:100px;
    margin-right:100px;
  }
}